@charset 'UTF-8';

/* Enable/disable borders around all elements for debugging */
 *
{
  /*border: 1px solid black;*/
  font-family: 'Noto Sans TC', sans-serif;
}

a
{
    color: black;
    font-weight: 700;
    font-style: none;
}

p
{
    font-size: 12pt;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 30pt;
    font-weight: 900;
    margin: 0;
    padding: 5px;
}

html, body
{
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main
{
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  width: 70%;
}

nav
{
  background-color: red;
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#nav-links
{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  float: right;
  height: 100%;
}

.alert-msg
{
    
}

.nav-item
{
  box-sizing: border-box;
  margin: 5px;
}

.sidebar
{
  box-sizing: border-box;
  height: 200px;
  width: 20%;
}

.main-content
{
  flex-grow: 1;
  /*height: 200px;*/
  /*width: 60%;*/
}

.account-card
{
  box-sizing: border-box;
  margin: 20px 5px;
}

.trans-table
{
    text-align: left;
    border-collapse: collapse;
}

.trans-table th, td
{
    border: 1px solid black;
    padding: 15px;
}

.trans-table tr:nth-child(even)
{
    background-color: rgba(0, 0, 0, .05);
}
